


body{
    color:rgb(136, 136, 136);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    
}

nav{
    display:flex;
    position:sticky;
    background-color: brown;
    padding: 10px 0px;
    border-radius:20px;
    box-shadow: inset  17px 6px 12px rgba(0,0 , 0, 0.6);
    border: 1px solid rgb(0, 0, 0,0.8);
    align-items: center;
    
}
.logo h2{
    margin: 0px 40px;
    color: rgb(255, 255, 255);
}

.logo h2 sup{
    vertical-align:top;
    font-size: smaller;
}

nav .nav-links{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 14rem;
}

nav a{
    margin: 0px 7px;
    text-decoration: none;
    color: #fff;
    padding: 3px 15px;
    border-radius: 20px;
    
    
}

.nav-links a:hover,
.nav-links a:focus
{
    /* transition: 0.1s ease-in-out; */
    background-color: azure;
    color: black;
    box-shadow:   7px 8px 12px rgba(0,0 , 0, 0.6);

}

main{
    margin-top:5rem;
    display:flex;
    justify-content: center;

}

.hero{
    /* display:flex; 
    align-items: center;
    justify-content: center; */

    /* margin: auto auto; */
    width: 100%;
}

.type h2{
    text-align: center;
    margin: 0 auto;
    /* justify-content: center; */
    align-items:center;
}
.type2 h2{
    text-align: center;
    margin: 10px auto;
    color:rgb(20, 20, 20);
    font-size: 40px;
    align-items:center;
}
.type3 {
    text-shadow:  5px 5px 10px rgba(0,0 , 0, 0.6);

    /* top: 10rem; */
    display: flex;
    /* justify-content: space-between; */
    margin: 0px 250px;
    color:brown;
    font-size: 50px;
    align-items:center;
    font-family:Arial, Helvetica, sans-serif ;
    text-align:center;
    

}


.type4 {
    /* top: 10rem; */
    display: flex;
    /* justify-content: space-between; */
    margin: 0px 220px;

    font-size: 20px;
    align-items:center;
    font-family:Arial, Helvetica, sans-serif ;
    text-align:center;

}

.font{
    margin:0px 60px;
}
.font1,.font2,.font3,.font4{
    margin:0px 50px;
    background-color: rgb(255, 255, 255);
    padding:6px 10px;
    border-radius: 20px;
    color:white;
    
}

.font1{
    animation:bgcolor1 10s ease-in-out;
    animation-iteration-count:infinite;
}
.font2{
    animation:bgcolor2 10s ease-in-out;
    animation-iteration-count:infinite;
}
.font3{
    animation:bgcolor3 10s ease-in-out;
    animation-iteration-count:infinite;
}
.font4{
    animation:bgcolor4 10s ease-in-out;
    animation-iteration-count:infinite;
}
@keyframes bgcolor1{
    0%{background-color:rgb(255, 255, 255);box-shadow: 0px 0px 0px;}
    
    12.5%{background-color:brown;box-shadow:   7px 6px 12px rgba(0,0 , 0, 0.6); }
    25%{background-color:rgb(255, 255, 255);box-shadow: 0px 0px 0px;}  
}
@keyframes bgcolor2{
    25%{background-color:rgb(255, 255, 255);box-shadow: 0px 0px 0px;}
    37.5%{background-color:brown;box-shadow:   7px 6px 12px rgba(0,0 , 0, 0.6);}
    50%{background-color:rgb(255, 255, 255);box-shadow: 0px 0px 0px;}  
}
@keyframes bgcolor3{
    50%{background-color:rgb(255, 255, 255);box-shadow: 0px 0px 0px;}
    62.5%{background-color:brown;box-shadow:   7px 6px 12px rgba(0,0 , 0, 0.6);}
    75%{background-color:rgb(255, 255, 255);box-shadow: 0px 0px 0px;}  
}
@keyframes bgcolor4{
    75%{background-color:rgb(255, 255, 255);box-shadow: 0px 0px 0px;}
    87.5%{background-color:brown;box-shadow:   7px 6px 12px rgba(0,0 , 0, 0.6);}
    100%{background-color:rgb(255, 255, 255);box-shadow: 0px 0px 0px;}  
}