


body{
    color:rgb(136, 136, 136);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    
}

nav{
    display:flex;
    position:sticky;
    background-color: brown;
    padding: 10px 0px;
    border-radius:20px;
    box-shadow: inset  17px 6px 12px rgba(0,0 , 0, 0.6);
    border: 1px solid rgb(0, 0, 0,0.8);
    align-items: center;
    
}
.logo h2{
    margin: 0px 40px;
    color: rgb(255, 255, 255);
}

.logo h2 sup{
    vertical-align:top;
    font-size: smaller;
}

nav .nav-links{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 14rem;
}

nav a{
    margin: 0px 7px;
    text-decoration: none;
    color: #fff;
    padding: 3px 15px;
    border-radius: 20px;
    
    
}

.nav-links a:hover,
.nav-links a:focus
{
    /* transition: 0.1s ease-in-out; */
    background-color: azure;
    color: black;
    box-shadow:   7px 8px 12px rgba(0,0 , 0, 0.6);
    /* transform: translateX(30px); */

}

main{
    margin-top:5rem;
    display:flex;
    justify-content: center;

}

.hero{
    /* display:flex; 
    align-items: center;
    justify-content: center; */

    /* margin: auto auto; */
    width: 100%;
}

.type h2{
    text-align: center;
    margin: 0 auto;
    /* justify-content: center; */
    align-items:center;
}
.type2 h2{
    text-align: center;
    margin: 10px auto;
    color:rgb(20, 20, 20);
    font-size: 40px;
    align-items:center;
}
.type3 {
    text-shadow:  5px 5px 10px rgba(0,0 , 0, 0.6);

    /* top: 10rem; */
    display: flex;
    /* justify-content: space-between; */
    margin: auto 430px;
    color:brown;
    font-size: 50px;
    align-items:center;
    font-family:Arial, Helvetica, sans-serif ;
    text-align:center;
    

}


.type4 {
    display: flex;
    margin: 0px 276px;
    margin-top: -0.5rem;
    font-size: 20px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 1.5px solid gray;
    box-shadow:   4px 5px 8px rgba(0,0 , 0, 0.3);
    align-items: center;
    justify-content: center;
    border-radius: 38px;
    padding: 3px 0px;
}

.font{
    margin:0px 10px;
}
.font1{
    background-color: none;
    padding: 6px 0px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
}
.font2,.font3,.font4,.font5 {

    background-color: none;
    padding: 6px 0px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    margin: 0px 30px;
}



.hover {
    
    transform: translateX(70px);
    margin:auto -40px;
    width: 126px;
    height: 34px;
    background-color: brown;
    box-shadow: inset  14px 5px 10px rgba(0,0 , 0, 0.6);
    border: 1px solid rgb(0, 0, 0,0.8);
    border-radius: 20px;
    z-index:-1 ;
    animation: flow 8s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes flow{
    0%{opacity:0;}
    2%{opacity:1; }
    15%{transform:translateX(68px);}
    30%{transform: translateX(180px);width:106px;}
    51%{transform: translateX(270px);width:56px;}
    73%{transform: translateX(430px);width:126px;}
    96%{transform: translateX(580px);width:106px;opacity:1;}
    98%{opacity: 0;}
    100%{opacity: 0;} 
     
}